


/* ------EQUIPOS DESTACADOS------- */

.equipo-destacados{

    height: auto;
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 2em;
  }
  
  .cuadrado-destacado h1{
    font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1.2em;
      text-align: center;
      color: #ffffff;
      margin: auto;
  }
  
  .cuadrado-destacado {
    background: linear-gradient(90deg, #C9133E 0%, #471267 100%);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.8em;
    margin-bottom: 2em;
  }
  