textarea.input-fo{
    background: rgba(217, 217, 217, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

color: rgba(255, 255, 255, 0.65);
display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-bottom: 2px solid #C9133E;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-style:none;
    resize: none;
    
}


input.input-fo:checked{
  border: 0;
}
.titulo-input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 41px;
    text-align: left;
    text-indent: 5px;
    color: #003959;
}

#count {
    display: inline;
    margin: 15px;
  }

  .botmasmen{
    display: flex;
    flex-direction: row;
  }

  #my-button{
    background:none;
    border: none;
  }
  #my-button2{
    background:none;
    border: none;
  }
  #imgSalida {
    display: none;
  }